@media(min-width: 1366px) {}

@media(min-width:1200px) and (max-width:1365px) {}

@media(min-width:992px) and (max-width:1199px) {}

@media(min-width:768px) and (max-width:992px) {}

@media (min-width:480px) and (max-width:768px) {
    .content_book {
        width: 50%;
    }
}

@media only screen and (min-width:240px) and (max-width:480px) {

    html,
    body {
        padding: 1rem;
        font-family: tahoma;
    }

    .content_book {
        width: 100%;
        margin-bottom: 2rem;
    }
}